*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  border: 2px solid black;
  width: 100vw;
  height: 100vh;
  padding: 8px;
 display: flex;
 gap: 7px;
}
.box{
    border:2px solid black;
    height: 20vh;
    
}
@media(max-width:889px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .box{
        height: 24vh;
        font-size:15px;
    }
}
     